@import '~@/style/parameters.less';

.mytable {
  padding-top: 24px;

  :global {
    .ant-card-head {
      padding: 0 16px;

      .larkicon-arrow-down {
        margin-left: 4px;
        color: @text-color-secondary;
      }

      .ant-card-head-title {
        color: @heading-color;

        h4 {
          color: @heading-color;
        }
      }

      .ant-input-affix-wrapper {
        width: 190px;
      }
    }

    .ant-card-body {
      position: relative;
      padding: 0;
    }

    .ant-table {
      font-size: 12px;
      color: @text-color-secondary;

      a {
        color: @text-color-secondary;
      }

      .ant-tag {
        color: @text-color-secondary;
      }
    }

    .ant-table-thead {
      tr > th {
        border-bottom: 1px solid @border-color;
        border-top: 1px solid @border-color;
        color: @text-color-secondary;
        font-size: 12px;
        border-radius: 0;
        padding: 12px 16px;
      }

      & > tr:first-child > th:first-child {
        border-radius: 0;
      }

      & > tr:first-child > th:last-child {
        border-radius: 0;
      }

      .larkicon-arrow-down {
        margin-left: 4px;
      }
    }

    .ant-table-tbody > tr:hover > td {
      background: @background-color;
    }

    .ant-table-tbody tr td {
      color: @text-color-secondary;
      padding: 12px 16px;
    }

    .ant-table-footer {
      padding: 0;
      border-top: 0;
    }

    .ant-table-empty .ant-table-placeholder {
      border-bottom: 0;
      height: 49px;
      color: @text-color-third;
    }

    .ant-card .ant-card-extra .ant-btn {
      vertical-align: top;
    }
  }

  .activeRow {
    background: #eaf7ec;
  }

  .columnsTitle {
    width: 300px;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: @heading-color;

    &.mini {
      max-width: 300px;
    }

    a,
    strong {
      color: @heading-color;
      font-weight: 400;
    }

    :global(.doc-icon),
    :global(.book-icon),
    .titleIcon {
      display: inline-block;
      background-size: 100%;
      width: 24px;
      vertical-align: middle;
      height: 24px;
      margin-right: 8px;
    }

    :global(.group-avatar) {
      margin-right: 10px;
      vertical-align: middle;
      width: 24px;
    }

    :global(.avatar) {
      margin-right: 10px;
      vertical-align: middle;
      width: 24px;
    }
  }

  .columnsBelong {
    width: 150px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .columnsDesc {
    width: 200px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.mini {
      max-width: 200px;
    }
  }

  .columnsTime {
    width: 100px;
    max-width: 100px;
    white-space: nowrap;
    text-align: left;
  }

  .columnsAction {
    width: 100px;
    max-width: 110px;
    text-align: right;
    white-space: nowrap;

    a {
      color: @link-color;
      font-size: 14px;
      margin-right: 8px;
    }

    :global(.ant-btn) {
      border-radius: 4px;
    }
  }
}

:global {
  .lark-dropdown-menu {
    .ant-dropdown-menu-item {
      padding: 0 20px;
      line-height: 40px;
      min-width: 120px;

      a {
        padding: 0;
        margin: 0;

        &:hover {
          color: @heading-color;
        }
      }
    }

    .ant-dropdown-menu-item-selected {
      background: @background-color-medium;

      a {
        background: transparent;
        color: @text-color;
      }
    }

    .ant-dropdown-menu-item-active {
      background: #eaf7ec;

      a {
        background: transparent;
        color: @text-color;
      }
    }
  }
}